<div class="about-heading">
  <div class="about-heading-text">
    <h3>Best Destinations around the world</h3>

    <div class="heading">
      <h2>Travel, <span class="underline">enjoy</span> and live a new and full life</h2>
    </div>

    <p>
      Built Wicket longer admire do barton vanity itself do in it. Preferred to sportsmen it
      engrossed listening. Park gate sell they west hard for the.
    </p>

    <div class="buttons">
      <button class="btn" [disabled]="isButtonDisabled">Find Out More</button>
    </div>
  </div>

  <div>
    <img [src]="travellerImg" alt="traveller"/>
  </div>
</div>

<div class="about-info">
  <div class="about-info-card">
    <h3>About Me</h3>
    <ul class="about-info-list">
      <li class="about-info-item">
        <span class="label">ID</span>
        <span class="value">{{ id }}</span>
      </li>
      <li class="about-info-item">
        <span class="label">Name</span>
        <span class="value">{{ name }}</span>
      </li>
      <li class="about-info-item">
        <span class="label">University</span>
        <span class="value">{{ university }}</span>
      </li>
      <li class="about-info-item">
        <span class="label">Email</span>
        <span class="value">{{ email }}</span>
      </li>
      <li class="about-info-item">
        <span class="label">Practice</span>
        <span class="value">{{ practice }}</span>
      </li>
    </ul>
  </div>

  <div class="about-info-card">
    <div class="like-section">

      <p [class.highlight]="likes >= 5">Likes: {{ likes }}</p>
      <button class="btn" (click)="addLike()">Like</button>
    </div>

    <button (click)="toggleMessage()">
      {{ showMessage ? 'Hide Message' : 'Show Message' }}
    </button>

    <p *ngIf="showMessage">Thank you for visiting!</p>
  </div>


  <div class="about-info-card">

    <div class="form-control">
      <label>Your Name:</label>
      <input [(ngModel)]="inputName" placeholder="Enter your name" />
      <p *ngIf="inputName">Assalamalikum, {{ inputName }}!</p>
    </div>

    <div class="form-control">
      <label>Email:</label>
      <input [(ngModel)]="inputEmail" placeholder="Enter your email" />
      <button class="subscribe-btn" (click)="subscribe()">Subscribe</button>
      <p *ngIf="subscribed">Thanks, {{ inputEmail }}, we’ll be in touch!</p>
    </div>
  </div>
</div>



